        <div class="sidebar-profile">
            <a href="/" class="hidden-link">
                <img class="sidebar-picture" src="/assets/profile_picture_trans.webp" title="Home" alt="Profile Picture">
            </a>
            <p class="sidebar-title">second2050</p>
        </div>
        <div class="social-buttons">
            <a href="/contact" class="hidden-link"><img src="/assets/social/contact_me.svg" title="Contact Me"></a>
            <a href="https://twitch.tv/second2050" class="hidden-link"><img src="/assets/social/twitch.svg"
                    title="Twitch"></a>
            <a href="https://kitsune.moe/@karui" class="hidden-link"><img src="/assets/social/misskey.svg"
                    title="Misskey"></a>
            <a href="https://github.com/second2050" class="hidden-link"><img src="/assets/social/github.svg"
                    title="GitHub"></a>
        </div>
