<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/style.css" rel="stylesheet" type="text/css">
<link href="/assets/icon.svg" rel="icon">
{{ $title := print .Title " &ndash; " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title | safeHTML }}</title>
{{ if .Description }}
<meta name="description" content="{{ .Description }}"/>
{{ end }}
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:type" content="website"/>
