<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 &ndash; second2050</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/assets/icon.svg" rel="icon">
</head>

<body>
    <aside>
        <div class="sidebar-profile">
            <a href="/" class="hidden-link">
                <img class="sidebar-picture" src="/assets/profile_picture.webp" alt="Profile Picture">
            </a>
            <p class="sidebar-title">second2050</p>
        </div>
        <div class="social-buttons">
            <a href="/contact" class="hidden-link"><img src="/assets/social/contact_me.svg" alt="Contact Me"></a>
            <a href="https://twitch.tv/second2050" class="hidden-link"><img src="/assets/social/twitch.svg"
                    alt="Twitch"></a>
            <a href="https://kitsune.moe/@karui" class="hidden-link"><img src="/assets/social/misskey.svg"
                    alt="Misskey"></a>
            <a href="https://github.com/second2050" class="hidden-link"><img src="/assets/social/github.svg"
                    alt="GitHub"></a>
        </div>
    </aside>
    <main>
        <img class="banner" src="/assets/404.webp"
            alt="Picture of me smiling and sitting while showing the 'peace' sign.">
        <h1>Page not found!</h1>
        <p>Not quite sure how you got here but there is nothing here. <span style="opacity: 25%;">yet.</span>
    </main>
</body>
</html>
